n8n-workflows/workflows/madplan---opret-uge-HDlNPRjxglJuhr2b.json
{
  "name": "Madplan - Opret Uge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "madplan/uge/opret",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "webhookId": "madplan-uge-opret",
      "id": "c34cb45d-e17a-4c9f-83c1-4c1472125b7b"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appufrDN3IA6Jhli9",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblDLvyhNSt6MrJ5Q",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EjerId": "={{ $json.body.ejerId }}",
            "Aar": "={{ $json.body.aar }}",
            "Uge": "={{ $json.body.uge }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "V0XbkfzDRzkiO5WJ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "f96e9888-055e-4b04-b500-1e6f11dc41d9"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, id: $json.id } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "name": "Respond",
      "id": "71426525-6bc0-4e09-aa16-70be18e8b58a"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null
}