n8n-workflows/workflows/madplan---slet-indkoebspost-GqFdaG40t6VKpcaG.json
{
  "name": "Madplan - Slet Indkoebspost",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "madplan/indkob/slet",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "webhookId": "madplan-indkob-slet-mkk4tep2",
      "id": "715cfb00-d918-4619-8ddf-fe3bb2aa9538"
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appufrDN3IA6Jhli9",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblF5l3VA1ktTDDzo",
          "mode": "id"
        },
        "id": "={{ $json.body.id }}"
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "V0XbkfzDRzkiO5WJ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "e4398111-26a6-4795-a3a5-d179e0673688"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "name": "Respond",
      "id": "c08b3fdc-422d-444a-a966-a5b9e88a57fd"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null
}