n8n-workflows/workflows/madplan---opdater-indkøbspost-KEWRKtVk01cmso7m.json
{
  "name": "Madplan - Opdater Indkøbspost",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "madplan/indkob/opdater",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "webhookId": "madplan-indkob-opdater",
      "id": "2363d106-eec8-4e49-8081-59bd92b87357"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appufrDN3IA6Jhli9",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblF5l3VA1ktTDDzo",
          "mode": "id"
        },
        "id": "={{ $json.body.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Afkrydset": "={{ $json.body.afkrydset }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "V0XbkfzDRzkiO5WJ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "cd4852e8-244d-4cc7-8acb-ac7fbcaa1e9c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "name": "Respond",
      "id": "a2b222c7-004c-4a0c-bbd1-7d76329a58b5"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null
}