n8n-workflows/workflows/madplan---opdater-indkøbspost-G3wvsSkjAAJGXdiH.json
{
  "name": "Madplan - Opdater Indkøbspost",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "madplan/indkob/opdater",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "webhookId": "madplan-indkob-opdater",
      "id": "0e592a17-fe01-42af-a674-b33c3b15ab24"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appufrDN3IA6Jhli9",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblF5l3VA1ktTDDzo",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.body.id }}",
            "Afkrydset": "={{ $json.body.afkrydset }}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "V0XbkfzDRzkiO5WJ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "529ed9cd-4765-42a2-9e05-1317289286fe"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, data: { id: $json.id, ejerId: $json.EjerId, aar: $json.Aar, uge: $json.Uge, navn: $json.Navn, kilde: $json.Kilde, afkrydset: $json.Afkrydset } } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "name": "Respond",
      "id": "ce9e23a5-05dd-4d65-910e-0dc2dbfec15b"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null
}