n8n-workflows/workflows/madplan---hent-tidligere-retter-FHjMlFiosUtSVcY7.json
{
  "name": "Madplan - Hent Tidligere Retter",
  "nodes": [
    {
      "parameters": {
        "path": "madplan/retter",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "webhookId": "madplan-retter",
      "id": "d4b653f9-f85f-45ab-bf24-95c4fa810e3d"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appufrDN3IA6Jhli9",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblDLvyhNSt6MrJ5Q",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "V0XbkfzDRzkiO5WJ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "e59e2765-5a38-4f9f-820f-147c32ab4386"
    },
    {
      "parameters": {
        "jsCode": "const query = $('Webhook').first().json.query;\nconst items = $input.all().filter(i => i.json.EjerId === query.ejerId);\nconst retter = new Set();\nconst dage = ['Mandag', 'Tirsdag', 'Onsdag', 'Torsdag', 'Fredag', 'Loerdag', 'Soendag'];\nitems.forEach(i => {\n  dage.forEach(d => {\n    if (i.json[d]) retter.add(i.json[d]);\n  });\n});\nreturn [{ json: { success: true, data: Array.from(retter) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "name": "Transform",
      "id": "53618fe4-dd2f-435d-af2f-9e8367db4bda"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "name": "Respond",
      "id": "7bc8f08e-cfe1-46cf-82f8-555a99ff7a7c"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null
}