n8n-workflows/workflows/madplan---hent-opskrift-HoIahrLadWgZlgxj.json
{
  "name": "Madplan - Hent Opskrift",
  "nodes": [
    {
      "parameters": {
        "path": "madplan/opskrift",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "webhookId": "madplan-opskrift",
      "id": "ae62e9f3-f7a5-477e-bf10-0e13f024fc9f"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appufrDN3IA6Jhli9",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblY7ZZQpp6iDiGDO",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "V0XbkfzDRzkiO5WJ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "c5cf3a37-2c39-4385-9684-44209bd1c23a"
    },
    {
      "parameters": {
        "jsCode": "const id = $('Webhook').first().json.query.id;\nconst found = $input.all().find(i => i.json.id === id);\nif (!found) return [{ json: { success: false, error: 'Ikke fundet' } }];\nconst i = found.json;\nreturn [{ json: { success: true, data: { id: i.id, ejerId: i.EjerId, titel: i.Titel, portioner: i.Portioner || 4, ingredienser: (i.Ingredienser || '').split('\\n').filter(x => x.trim()), fremgangsmaade: i.Fremgangsmaade || '', oprettetDato: i.Dato } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "name": "Find",
      "id": "b7754bdf-2314-4ffa-87eb-a3fef788ff26"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "name": "Respond",
      "id": "82e3d250-4632-4985-a99c-f5c7b44d5ed1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Find",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null
}