Aktive workflows/madplan-opdater-opskrift.json
{
  "name": "Madplan - Opdater Opskrift",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "madplan/opskrift/opdater",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "webhookId": "madplan-opskrift-opdater",
      "id": "98f51fe9-28cb-4227-9728-966d2d5a760e"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appufrDN3IA6Jhli9",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblY7ZZQpp6iDiGDO",
          "mode": "id"
        },
        "id": "={{ $json.body.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Titel": "={{ $json.body.titel }}",
            "Portioner": "={{ $json.body.portioner || 4 }}",
            "Ingredienser": "={{ Array.isArray($json.body.ingredienser) ? $json.body.ingredienser.join(\"\\n\") : ($json.body.ingredienser || \"\") }}",
            "Fremgangsmaade": "={{ $json.body.fremgangsmaade || \"\" }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        0
      ],
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "V0XbkfzDRzkiO5WJ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "id": "513f0dc7-37fd-4212-a8c8-6819a5cc7e8f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "name": "Respond",
      "id": "c1499853-f406-4b22-9863-8410cbd8d423"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": null
}